In [16]:
#Merge Files
import shutil
import glob


#import csv files from folder
path = 'C:/Users/Asus/Desktop/Backup/All Files'
allFiles = glob.glob(path + "/*.csv")
allFiles.sort()  # glob lacks reliable ordering, so impose your own if output order matters
with open('C:/Users/Asus/Desktop/Backup/All Files/MergedFile.csv', 'wb') as outfile:
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
            # Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

C:/Users/Asus/Desktop/Backup/All Files\actual_tweet.csv has been imported.
C:/Users/Asus/Desktop/Backup/All Files\actual_tweet1.csv has been imported.
C:/Users/Asus/Desktop/Backup/All Files\actual_tweet2.csv has been imported.

In [123]:
#change csv to panda dataframe
import pandas as pd
import re
import emoji 
from nltk.corpus import stopwords
stop = stopwords.words('english')
df = pd.read_csv('C:/Users/Asus/Desktop/Backup/All Files/MergedFile.csv')
print("done")

done

In [124]:
# To clean all the text data
def cleaner(tweet):
    tweet = tweet.lower()
    tweet = re.sub("@[A-Za-z0-9]+","",tweet) #Remove @ sign
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet) #Remove http links
    tweet = re.sub("#", "", tweet) #Remove hashtags
    tweet = re.sub("covid19","",tweet)
    tweet = re.sub("coronavirus","",tweet)
    tweet = re.sub("unitedkingdom","",tweet)
    tweet = re.sub("uk","",tweet)
    tweet = re.sub("india","",tweet)
    tweet = " ".join(tweet.split())
    tweet = ''.join(c for c in tweet if c not in emoji.UNICODE_EMOJI) #Remove Emojis
    return tweet

In [125]:
tweet_text = df['Text'].map(lambda x:  cleaner(x))

In [126]:
# Removing Stopwords (It tooks way too long when doing it on the function cleaner thus doing it outside seems more viable)
tweet_text = tweet_text.str.split()
tweet_text = tweet_text.apply(lambda x: ' '.join([item for item in x if item not in stop]))

In [127]:
# To count the number of strings for each hashtags/words in a text
def wordcount(tweet,substring):
    tweet = tweet.lower()
    count = tweet.count(substring)
    return count

In [128]:
#Count for all words/hashtags
count1 = df['Text'].apply(wordcount, substring ='covid19')
count2 = df['Text'].apply(wordcount, substring ='coronavirus')
count3 = df['Text'].apply(wordcount, substring ='unitedkingdom')
count4 = df['Text'].apply(wordcount, substring ='uk')
count5 = df['Text'].apply(wordcount, substring ='india')

In [129]:
df1 = pd.DataFrame()

In [130]:
df1['tweet_text']=tweet_text
df1['Covid19_counts']=count1
df1['CoronaVirus_counts']=count2
df1['UnitedKingdom_counts']=count3
df1['UK_counts']=count4
df1['India_counts']=count5
df1['location']=df['location']
df1['Mention_counts']=df['Mention_counts']

In [131]:
df1

,tweet_text,Covid19_counts,CoronaVirus_counts,UnitedKingdom_counts,UK_counts,India_counts,location,Mention_counts
0,love dogecoin dogecoinarmy dogeday420 ‚Ä¶,0,0,0,2,0,"London, England",6
1,petition: make non-binary legally recognised g...,0,0,0,1,0,she/her,0
2,"believe me. alberta stupidist, nowhere near sh...",0,0,0,1,0,Tramworld,1
3,üü£ ip abolish end splitting anti devolution vot...,0,0,0,1,0,Blaenau Gwentüè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,0
4,_ scotland one favourite places sit. next ligh...,0,0,0,1,0,Cornwall,1
...,...,...,...,...,...,...,...,...
4525,loooove kingfisher picture ü§©,0,0,0,1,0,Armley,3
4526,exist australian british cinema hard think equ...,0,0,0,1,0,"Eastbourne, UK",0
4527,"writing exclusively _nw, says figures show nor...",0,0,0,1,0,"North West, England",4
4528,finally got vaccine don‚Äôt know everyone worrie...,1,0,0,0,0,Belfast,0
4529,great opportunity get involved bssh overseas w...,0,0,0,1,0,"North West, England",3

In [132]:
df1.to_csv('C:/Users/Asus/Desktop/Backup/All Files/Clean_tweets.csv')